// Specific CSS for your home-page
.jumbotron {
  padding: 2rem 1rem;
  background-color: #f8f9fa;
  margin-bottom: 0;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary.text-white {
  color: white;
}
.about-image {
  max-width: 100%;
  height: auto;
}
.about-section img {
  width: 100%;
  max-width: 500px; /* Set a maximum width */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto; /* Center the image */
}
