.show-card {
  background-color: #ffffff;
  border-radius: 15px; /* Adjust this value as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-bottom: 10px;
}

.show-card-description {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.66);
  padding: 20px; /* Adjusted padding for better spacing */
}

.show-card-description > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.show-reservation_form {
  background-color: rgba(255, 255, 255, 0.66);
  margin: 10px;
  padding: 15px;
  border-radius: 15px; /* Adjust this value as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
