<h1 class="text-center my-4">My Reservations</h1>

<div class="container">
  <% @reservations.each do |reservation| %>
    <div class="card-reservation my-3 border border-dark p-3">
      <td><%= reservation.kitchen.address %></td>
      <td><%= reservation.kitchen.kitchen_type %></td>
      <td><%= reservation.kitchen.description %></td>
      <button> <%= reservation.status %> </button>
    </div>
  <% end %>
</div>
