<h2>Confirmation & Pay</h2>

<div>
  <h3>Your Reservation</h3>

  <h4>Dates</h4>
    <p><%= @reservation.start_date %> - <%= @reservation.end_date %></p>
</div>

<div>
  <h3>Payment Details</h3>

    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label" for="card_number">Card Number</label>
        <input type="text" id="card_number" class="form-control" placeholder="Card Number">
      </div>

      <div class="form-group">
        <label class="control-label" for="expiration_date">Expiration Date</label>
        <input type="date" id="expiration_date" class="form-control">
      </div>

      <div class="form-group">
        <label class="control-label" for="cvv">CVV</label>
        <input type="text" id="cvv" class="form-control" placeholder="CVV">
      </div>

      <div class="form-group">
        <label class="control-label" for="cardholder_name">Cardholder Name</label>
        <input type="text" id="cardholder_name" class="form-control" placeholder="Cardholder Name">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Confirm reservation</button>
      </div>
    </form>

</div>


<div>
  <h3>Reservation Details</h3>

  <h4>Kitchen</h4>
    <p><%= @kitchen.name %></p>

  <h4>Address</h4>
    <p><%= @kitchen.address %></p>

  <h4>Price</h4>
    <p>TBD</p>

</div>
