.card-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .card-product-infos {
    padding: 1rem;
    background-color: white;
    flex-grow: 1;
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .card-text {
    margin-bottom: 0.5rem;
  }

  .btn-primary {
    align-self: stretch;
    border-radius: 8px;
  }
}
