.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
  height: auto;
}

a {
  text:white;
}

.fa-bars {
  font-size: 24px;
  color: #007bff; /* Adjust color to match your design */
}

.nav-item.dropdown {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-collapse {
  display: flex;
  justify-content: space-between;
}
