.modal-lg {
  max-width: 600px;
}

.modal-header {
  background-color: #f8f9fa;
}

.modal-body {
  padding: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.text-center {
  margin-top: 1.5rem;
}

.btn-outline-primary, .btn-outline-danger, .btn-outline-dark {
  margin-bottom: 0.5rem;
}

.modal-content {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding subtle shadow */
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.rounded-button {
  border-radius: 10px; /* Add border radius to login button */
  margin-bottom: 1rem; /* Add margin to the bottom */
}

.modal-body {
  padding: 2rem; /* Add padding to the modal content */
}

.form-horizontal .form-group {
  text-align: left; /* Ensure text alignment is left */
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check-input {
  margin-right: 0.5rem;
}

.form-check-label {
  padding-left: 0.25rem;
}
